$dark-gray: #333c4e;
$light-gray: #7e8890;

.homepage-container {
  overflow:hidden;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.homepage-main-image {
  width: 100vw;
  max-width: 100%;
}

.main-slogan {
  position: absolute;
  top: 10%;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

.main-mini-desc {
  position: absolute;
  top: 20%;
  font-style: italic;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px 10px #000
}

input:focus{
  outline: none;
}

button:focus {
  outline: none;
}

.main-signup-button-container {
   position: absolute;
   top: 40%;
   font-size:1.8rem;
   width: 100%;
   text-align: center;
}

.main-signup-button {
  width: 80%;
  border-radius: 500px;
  background-color: #FFFFA5;
  color: #333333;
  font-weight: bold;
  font-family: "Permanent Marker";
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.main-signup-button:hover {
  background-color: #ffff59;
  color: #333333;
}

.desc-container {
  color: $dark-gray;
}

.desc {
  width: 100%;
  padding: 0.8em;
  line-height: 1.5em;
}

.desc-title{
  width: 100%;
  text-align:center;
  font-weight: 300;
  font-size:1.5rem;
}

.desc-content{
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: $light-gray;
  font-size: 1rem;
}

.desc {
  width: 100%;
  img {
    box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
  }
}

.desc-img{
  width: 100%;
}

.footer {
  display: none;
}


@media screen and (min-device-width: 414px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 1.9rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 1.6rem;
    font-weight: normal;
  }

  .main-signup-button {
    width: 90%;
    font-size: 1.9rem;
  }


}


@media screen and (min-device-width: 768px) {

  .main-slogan {
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    top: 40%;
    font-size: 2rem;
    font-weight: normal;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 60%;
    font-size: 2.5rem;
  }

  .desc-container {
    color: $dark-gray;
    display: flex;
    flex-direction: row;
    min-height: 30%;
  }

  .desc {
    width: 80%;
    margin: auto;
    padding: 2em 5em;
    line-height: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .desc-title{
    font-size:6rem;
    margin-top: 1em;
    margin-bottom: 0.7em;
  }

  .desc-content{
    width: 100%;
    font-weight: 300;
    color: $light-gray;
    font-size: 2.8rem;
  }

  .footer {
    display: block;
    bottom: 0%;
    width: 100%;
    background: #ff879b;
    height: 2em;
}

}

@media screen and (min-device-width: 1024px) {

  .main-slogan {
    top: 30%;
    letter-spacing: 0.1em;
    font-size: 4rem;
    font-weight: normal;
  }

  .main-mini-desc {
    font-size: 2rem;
    font-weight: 300;
  }

  .main-signup-button-container {
    top: 50%;
  }

  .main-signup-button {
    width: 30%;
    font-size: 2.5rem;
  }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }


}
